#welcome{
background-color:#563d7c;
margin-top:0px;
}
#title{
font-size:60px;
color:#fff;
}
#description{
font-size:21px;
color:#cdbfe3;
}
#btnGo{
margin-top:-3px;
margin-bottom:3px;
}
#result{
font-size:22px;
margin-top:20px;
}
#keys{
width:300px;
height:34px;
font-size:20px;
}
div.result{
float: left;
width:200px;
height:200px;
margin-left:20px;
margin-top:20px;
overflow:hidden;
border: 1px solid #eee;
text-align:center;
//background:#C0C0C0;
}
div.result img{
max-height: 100%;
max-width:100%;
}
div.result img.tall{
max-height: 100%;
max-width:100%;
width: auto;
}
div.result img.wide{
max-height: 100%;
max-width:100%;
height: auto;
}