#welcome{
background-color:#563d7c;
margin-top:0px;
}
#title{
font-size:60px;
color:#fff;
}
#description{
font-size:21px;
color:#cdbfe3;
}
#btnGo{
margin-top:-3px;
margin-bottom:3px;
}
#result div{
margin-top:20px;
}
#result{
font-size:22px;
margin-top:20px;
}
#keys{
width:300px;
height:34px;
font-size:20px;
}
div.result{
width:100px;
height:100px;
}